---
layout: page
title: 
tagline: 
---
{% include JB/setup %}

<div class="row-fluid">
  <div class="span8">
    {% for post in site.posts %}
    {% assign content = post.content %}
    <section id="{{ post.url | replace:'/',''}}">
      <article>
        <header>
        <h3><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h3>
        {% unless post.tags == empty %}
        <ul class="tag_box inline">
          <li style="line-height:36px;margin-left:-5px;">标签：</li>
          {% assign tags_list = post.tags %}
          {% include JB/tags_list %}
        </ul>
        {% endunless %}
        <div class="date"><a href="http://weibo.com/sgjianlin">{{ site.author.name }}</a> 发表于 <span>{{ post.date | date:"%Y-%m-%d" }}</span></div>
      </header>
      <div class="content previewBlog">{{ post.abstract }}....<a href="{{ BASE_PATH }}{{ post.url }}"> 阅读全文 >></a></div>
      </article>
    </section>
  {% endfor %}
  </div>
  <aside class="span4">
    <section>
      <h4>最近发表</h4>
      <ul id="recent_posts">{% for rpost in site.posts limit: 10 %}
        <li class="post">
          <a href="{{ BASE_PATH }}{{ rpost.url }}">{{ rpost.title }}</a>
        </li>{% endfor %}
      </ul>
    </section>
    <section>
      <h4>手绘头像</h4>
      <div class="myintroduceImg">
      </div>
      <div class="myintroduceText">
        QQ：398968940<br/>
        新浪微博：<a href="http://weibo.com/sgjianlin">http://weibo.com/sgjianlin</a><br/>
        Email：sgjianlin@gmail.com<br/>
      </div>
    </section>
    <section>
      <h4>一首最爱的歌</h4>
      <audio autoplay controls class="downJW" src="down.mp3">A song from Jason Walker.</audio>
    </section>
  </aside>
</div>